* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.page {
  width: 100%;
  max-width: 1000px;
  min-height: 900px;
  margin: 50px;
  background: #fff;
  display: grid;
  grid-template-areas:
    "aside main main"
    "aside main main"
    "footer footer footer";
  box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

/* Aside
========== */
aside {
  background: #003147;
  color: #fff;
  padding: 30px;
  grid-area: aside;
}

/* Profile section
================== */
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profile__img {
  border-radius: 50%;
}

.profile__name {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.4em;
  padding: 30px 0;
}

.profile__name span {
  font-size: 0.8em;
  font-weight: 300;
}

/* Contacts Section
=================== */
.contacts h3 {
  margin: 40px 0 20px;
  text-transform: uppercase;
}

.contacts ul li {
  margin: 10px 0;
}

.contacts ul li a {
  color: inherit;
}

.contacts ul li a i {
  width: 30px;
  color: #03a9f4;
}

.contacts a:hover {
  color: #6a707a;
}

/* Skills Section
================= */
.skills h3 {
  margin: 40px 0 20px;
  text-transform: uppercase;
}

.skills ul li i {
  width: 30px;
  color: #03a9f4;
}

/* Main Page
============ */
main {
  padding: 40px;
  color: #000;
  grid-area: main;
}

/* About Me Section
=================== */
.about-me h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 20px 0;
}

.about-me p + p {
  margin-top: 20px;
}

/* About Me Section
=================== */
.code-samples h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 20px 0;
}

/* Experience Section
===================== */
.experience h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 20px 0;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
}

.project__link {
  max-width: 600px;
}

.project__link a {
  text-transform: uppercase;
  font-size: 1.1em;
}

.project__link a:hover {
  text-decoration: underline;
}

.project__link a i {
  font-size: 20px;
  width: 33px;
}

.project__technologies {
  font-size: 0.8em;
  color: #8a8a8a;
}

.project__link a img {
  max-width: 100%;
}

/* Education Section
==================== */
.education h2 {
  text-transform: uppercase;
  font-size: 1.5em;
  margin: 20px 0;
}

.education__block {
  display: flex;
  justify-content: space-between;
}

.education__block + .education__block {
  margin-top: 20px;
}

.education__years {
  width: 22%;
  color: #c1c1c1;
  font-weight: 300;
}

.education__years h5 {
  font-weight: 300;
}

.education__text {
  width: 75%;
}

/* Footer
========= */
footer {
  background-color: #acd6e4;
  grid-area: footer;
}

.footer__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 7px 0 3px;
}

.footer__github > a > img {
  width: 40px;
}

.footer__rs-school > a > img {
  width: 90px;
}

footer a > img:hover {
  opacity: 0.5;
}

/* Media queries
================ */
@media (max-width: 800px) {
  .page {
    margin: 10px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: unset;
  }
  aside,
  main,
  footer {
    grid-area: unset;
  }

  nav,
  section.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px) {
  .project {
    flex-direction: column;
  }
  .project__link {
    width: 100%;
  }
  .project__description {
    width: 100%;
  }
}
